* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.ban-container{
    width: 100%;
    height: 500px;

    background-image:url(images/Hero-bg.png) ;
}
.imoji-photo{
    text-align: center;
    margin-top: 30px;
}
.ban-container h2{
    text-align: center;
    color:rgb(7, 65, 67);
    margin-top: 30px;
}
.ban-container p{
    text-align: center;
    color:rgb(7, 65, 67);
}
.bt-contact{
    margin-top: 20px;
     text-align: center;


    
    
    
}
.bt-contact button{
    text-decoration: none;
    background-color: black;
    color: bisque;
    
    padding: 10px;
    border-radius: 7px;
    font-size: 15px;

}
